@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic&subset=latin,cyrillic);


@font-face {
  font-family: 'FiraSans-Light';
  src: url("../fonts/FiraSans-Light.otf");
  font-weight: normal;
  font-style: normal; }
/*Regular*/
@font-face {
  font-family: 'FiraSans-Regular';
  src: url("../fonts/FiraSans-Regular.otf");
  font-weight: normal;
  font-style: normal; }
/*Italic*/
@font-face {
  font-family: 'FiraSans-Italic';
  src: url("../fonts/FiraSans-Italic.otf");
  font-weight: normal;
  font-style: normal; }
/*Medium*/
@font-face {
  font-family: 'FiraSans-Medium';
  src: url("../fonts/FiraSans-Medium.otf");
  font-weight: normal;
  font-style: normal; }
/*Bold*/
@font-face {
  font-family: 'FiraSans-Bold';
  src: url("../fonts/FiraSans-Bold.otf");
  font-weight: normal;
  font-style: normal; }
/*ExtraBold*/
@font-face {
  font-family: 'FiraSans-ExtraBold';
  src: url("../fonts/FiraSans-ExtraBold.otf");
  font-weight: normal;
  font-style: normal; }
/*BoldItalic*/
@font-face {
  font-family: 'FiraSans-BoldItalic';
  src: url("../fonts/FiraSans-BoldItalic.otf");
  font-weight: normal;
  font-style: normal; }
/*Heavy*/
@font-face {
  font-family: 'FiraSans-Heavy';
  src: url("../fonts/FiraSans-Heavy.otf");
  font-weight: normal;
  font-style: normal; }
/*Book*/
@font-face {
  font-family: 'FiraSans-Book';
  src: url("../fonts/FiraSans-Book.otf");
  font-weight: normal;
  font-style: normal; }

